.app-header {
  display: flex;
  align-items: center;
  padding: 12px 14px;
  background-color: #e0e0e0;
  flex-shrink: 0;
  justify-content: center;
  position: relative;
  height: 60px;
  
  /* Sombra "Extrudada" (Convexa) */
  box-shadow: 4px 4px 8px #bebebe, 
              -4px -4px 8px #ffffff;
}

.back-btn {
  background: #e0e0e0;
  border: none;
  font-size: 22px;
  color: #555;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  
  /* Efeito "Extrudado" (Convexo/Outset) */
  box-shadow: 4px 4px 8px #bebebe, 
              -4px -4px 8px #ffffff;
  
  position: absolute;
  left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.1s ease;
}

.back-btn:active {
   box-shadow: inset 2px 2px 4px #bebebe, 
               inset -2px -2px 4px #ffffff;
}

.header-title {
  font-size: 20px;
  font-weight: 600;
  color: #555;
}