/* O corpo do chat (área de mensagens) */
.chat-body {
  height: 40vh; 
  
  padding: 10px;
  overflow-y: auto;
  background-color: #e0e0e0;
  
  margin: 10px 14px;
  border-radius: 20px;

  /* Efeito "Extrudado" (Convexo/Outset) */
  box-shadow: 4px 4px 8px #bebebe, 
              -4px -4px 8px #ffffff;
  
  transition: box-shadow 0.1s ease;
}

/* Rodapé com os inputs */
.chat-footer {
  padding: 10px 14px;
  background-color: #e0e0e0;
  border-top: none;
  flex-shrink: 0;
}

.input-row {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.chat-input {
  flex: 1;
  padding: 12px 16px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  color: #333;
  
  /* Efeito "Extrudado" (Convexo/Outset) */
  background: #e0e0e0;
  box-shadow: 4px 4px 8px #bebebe, 
              -4px -4px 8px #ffffff;
  transition: box-shadow 0.1s ease;
}

.chat-input::placeholder {
  color: #777;
}

.chat-input:focus {
  /* Efeito "Prensado" (Côncavo/Inset) */
  box-shadow: inset 4px 4px 8px #bebebe, 
              inset -4px -4px 8px #ffffff;
}

.send-btn {
  background: #e0e0e0;
  box-shadow: 4px 4px 8px #bebebe, 
              -4px -4px 8px #ffffff;
  color: #555;
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  font-size: 18px;
  flex-shrink: 0;
  transition: box-shadow 0.1s ease;
}

.send-btn:active {
   box-shadow: inset 2px 2px 4px #bebebe, 
               inset -2px -2px 4px #ffffff;
}

.send-btn:hover {
  background-color: #e0e0e0;
}

/* Garante que os corpos de chat e library apenas rolem internamente */
.chat-body,
.library-body {
  overflow-y: auto;
}